<form action="/create" method="post">
  <br>
  Recipe Name:<br>
  <input type="text" name="recipename"><br>
  Recipe Description:<br>
  <input type="text" name="recipedescription"><br>
  Recipe Prep Time:<br>
  <input type="test" name="recipepreptime">
  <br><br>
  <input type="submit" value="Submit">
</form>

